// Color Palette
$primary-color: #ff6f61;
$secondary-color: #f4e1d2;
$background-color: #fff;
$text-color: #333;
$highlight-color: #ffc1c1;
$font-family: "Helvetica Neue", Arial, sans-serif;

// Bootstrap Customizations
@import "~bootstrap/scss/bootstrap.scss";

body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Roboto", sans-serif;
}

.navbar {
  background-color: $secondary-color !important;

  padding: 1rem 2rem;

  .navbar-brand {
    color: $primary-color;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .nav-link {
    color: $text-color;
    font-weight: 400;
    margin: 0 1rem;

    &:hover {
      color: $primary-color;
      text-decoration: none;
    }
  }

  .btn-outline-danger {
    color: $primary-color;
    border-color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $background-color;
    }
  }
}

/* Homepage */
.homepage-header {
  background-color: #fc5c65;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.product-preview {
  margin: 20px;
}

/* Product Page */

// sort
.header {
  text-align: center;
  padding: 20px;
  background-color: #f8f4f9;
  border-bottom: 1px solid #e0d7e7;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  color: #d27ca3;
  margin: 0;
  font-weight: bold;
}

.sort-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f4f9;
  border-bottom: 1px solid #e0d7e7;
  margin-bottom: 20px;
  padding-left: 20px;

  justify-content: space-between; /* Use space-between for equal spacing */
}

.sort-buttons {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.sort-buttons button {
  color: #6a617a;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(210, 124, 163, 0.5);
  margin-right: 10px;
  border-radius: 10%;
  padding: 5px;
  border: none;
  border: 0.5px solid #d27ca3;
  border-radius: 12px;
}

.sort-label {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #6a617a;
  margin-right: 10px;
}

.sort-select {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #6a617a;
  padding: 5px;
  border: 1px solid #d27ca3;
  border-radius: 5px;
  background-color: #ffffff;
}
.product-page {
  margin: 20px;
}

// .product-preview-1 {
//   background-color: $secondary-color;
// }

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  max-width: 23rem;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;

  background: linear-gradient(to bottom, #ffffff, #f4e1d2);
}

// .product-card .image-container{
//     min-height: max-content;
// }

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 2rem;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.02);
  }
}
.product-card img {
  width: 100%;
  height: 20rem;
  object-fit: cover; /* Ensures image fills container without squashing */
  border-radius: 10px;
  margin-bottom: 2rem;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.02);
  }
}

.product-price {
  color: #20bf6b;
  font-weight: bold;
}

.product-description {
  font-size: 0.9em;
  color: #7d7d7d;
  margin: 10px 0;
}

.product-category,
.product-stock {
  font-size: 1em;
  color: #cfa39d;
}

////////////////// cart //////////////////
//////////////////
.cart-preview {
  padding: 20px;
  background-color: $secondary-color;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 100%; // Position the cart preview right below the icon
  right: 0;
  //   background-color: white;
  //   border: 1px solid #ccc;
  //   border-radius: 5px;
  //   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  //   width: 300px;
  //   max-height: 600px;
  overflow-y: auto;
  z-index: 1000;
  //   padding: 15px;

  .cart-header {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      font-family: $font-family;
      color: $primary-color;
      font-size: 2rem;
      font-weight: bold;
      margin: 0;
    }

    .no-products-message {
      text-align: center;
      color: $text-color;
      font-size: 1.2rem;
      font-family: $font-family;
    }
  }
}

// .product-main-image {
//   max-width: fit-content;
// }
// .product-main-image img {
//   width: 100%;
//   height: 100%;
//   object-fit: cover; /* or contain, fill */
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

a {
  color: $primary-color;

  &:hover {
    color: $highlight-color;
  }
}

.container {
  margin-top: 2rem;
}

////sign in
///

.button-1 {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #f082ac;
}
.footer {
  background-color: $secondary-color;
  padding: 1rem 0;
  text-align: center;
  color: $text-color;
  margin-top: 2rem;
}

/////////////// cart icon
.cart-icon {
  border: none;
  background-color: transparent;
  position: relative;
}
.cart-image {
  max-width: 2rem;
}
.cart {
  display: inline-block;
}
// .flying-button{
// transform: scale(1);}
