node_modules
*/build
# server/Dockerfile.yml
.env
.dockerignore
*.py
*Dockerfile*

# unnecessary files
*.txt

# # /.pnp
# # .pnp.js

# testing
/coverage

# production
/build

# # # misc
# # .DS_Store
# # .env.local
# # .env.development.local
# # .env.test.local
# # .env.production.local

npm-debug.log*
server/requests*
NOTES*

# # yarn-debug.log*
# # yarn-error.log*