.purchased-products {
  width: 90%;
  .product-card {
    display: flex;
    width: 100%;
    width: 50rem;
    max-width: none; // Removes the max-width of 23rem
  }

  .image-container {
    max-width: 20rem;
    width: 100%;
    height: auto;
    margin-right: 2rem;
    margin-bottom: 0;
    background-color: aqua;
    // max-height: 5rem;
    // max-width: fit-content;
  }
}
