.purchased-products {
  // width: 90%;
  display:flex;
  overflow-x: scroll;
flex-di
  .product-card {
    display: flex;
    width: 100%;
    // width: 30rem;
    max-width: none; // Removes the max-width of 23rem
  }

  .image-container {
    width: 100%; //makes img centered
    height: auto;
    margin-right: 2rem;
    margin-bottom: 0;
    max-height: 15rem;
    
  }
  .product-card img {
    max-width: 15rem; 
    max-height: 15rem;
  }
}
