$linescolor: #eee3d8;
$color: #eddfd4;

.content {
  position: relative;
  left: 6%;
  width: 88%;
  min-height: 100%;
  border-style: solid;
  min-height: 60vh; // Set min-height to 100 viewport height
  border-color: $linescolor;
  display: flex; /* Use flexbox for layout */
  // align-items: center;
  margin-bottom: 1rem;

  .product-details {
    margin: 5%;
    // background-color: aqua;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    // text-align: center; /* Optional: Center text inside children */

    h1 {
      font-size: 5rem;
      border-radius: 2rem;
// box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.1);
    }

    p {
      // font-weight: 2000;
      font-size: large;
    }
    .product-category {
    }
    .product-description text {
      font-weight: 2000;
      font-size: large;
    }
    .product-price {
    }
  }
}
.main-product-image {
  max-width: 40%; /* Adjust width as needed */
  // margin-right: 20px; /* Space between image and details */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main-product-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.product-details {
  flex-grow: 1; /* Allow details to take remaining space */
}

.blobs {
}
.top-left-img {
  position: absolute;
  max-width: 16%;
  transform: scale(1, -1);
  top: 0;
  left: 0;
}
.bottom-left-img {
  position: absolute;
  // position: sticky;
  max-width: 20%;
  bottom: 0;
  left: 0;
}

.bottom-right-img {
  position: absolute;
  max-width: 20%;
  transform: scale(-1, 1);
  bottom: 0;
  right: 0;
}

// .absolute-div {
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   transform-origin: 0px 0px;
//   height: 373.491px;
//   width: 316.534px;
//   pointer-events: none;
//   transform: scale(1.26857);
// }
