// Color Palette
$primary-color: #ff6f61;
$secondary-color: #f4e1d2;
$background-color: #fff;
$text-color: #333;
$highlight-color: #ffc1c1;
$font-family: "Helvetica Neue", Arial, sans-serif;

// Line Colors
$linescolor: #eee3d8;
